@charset "utf-8";

/*-------------------------------------*/
/* メインイメージ */
/*-------------------------------------*/

div#bgColor{
	background: #FFF;
	border-top: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
}

div#mainImgBox{
	margin: 0 auto;
	text-align: left;
	width: 960px;
	min-height:500px;
	height: auto !important;
	height: 500px;
	position: relative;
}

div#mainImgBox div#mainMessageBox{
	width: 330px;
	min-height:500px;
	height: auto !important;
	height: 500px;
	background-color:#fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #efefef;
	z-index: 2;
	position: absolute;
	filter: alpha(opacity=80);
	-moz-opacity: 0.8;
	opacity: 0.8;
}

	div#mainImgBox div#mainMessageBox strong{
		font-weight: bold;
		font-size: 17px;
		display: block;
		padding: 90px 20px 10px;
	}
	div#mainImgBox div#mainMessageBox span{
		padding: 0 20px;
		display: block;
		line-height: 1.9;
	}




/* スライドショー */

#slides {
	position:absolute;
	top:0px;
	left:0px;
	z-index:1;
}

.slides_container {
	width: 960px;
	height: 500px;
	overflow:hidden;
	position:relative;
	display:none;
}

.slides_container a {
	width:960px;
	height:500px;
	display:block;
}

.slides_container a img {
	display:block;
}

.pagination {
	position:absolute;
	top: 510px;
	right: 5px;
}

.pagination li {
	float:left;
	margin:0 1px;
	list-style:none;
}

.pagination li a {
	display:block;
	width:12px;
	height:0;
	padding-top:12px;
	background-image:url('index/img/pagination.png');
	background-position:0 0;
	float:left;
	overflow:hidden;
}

.pagination li.current a {
	background-position:0 -12px;
}

/*-------------------------------------*/


div#mainContents{
	width: 960px;
	margin: 0 auto;
	text-align: left;
	margin-top: 10px;
}

	/* ３つのトピックス */
	div#mainContents div.topicsBox{
		width: 295px;
		float: left;
		margin-left: 33px;
		margin-bottom: 75px;
	}

	div#mainContents div.firstItem{
		margin-left: 0;
	}

	div#mainContents div.topicsBox strong{
		margin-bottom: 15px;
		font-weight: bold;
		display: block;
		font-size: 14px;
		border-bottom: 1px #dedede solid;
	}

	div#mainContents div.topicsBox span{
		line-height: 1.8;
		display: block;
		text-align: justify;
		margin-bottom: 8px;
	}


/* 新着情報 */
div#newTopics{
	/* float: left; */
	width:40%;
	margin-left: auto;
	margin-right: auto;
}

	div#newTopics strong{
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
	}

	div#newTopics dl{
		width: 295px;
	}

	div#newTopics dl dt,
	div#newTopics dl dd{
		padding: 10px 0;
		border-bottom: 1px solid #ddd;
	}

	div#newTopics dl dt{
		float:left;
		width:75px;
		clear:both;
		background: url(../img/bg_boder.gif) repeat 0 0 ;
	}

	div#newTopics dl dd{
		width:195px;
		margin-left:75px;
		padding-left: 20px;
	}


/* 会社概要 */
div#outlineBox{
	margin-left: 33px;
	float: left;
}

	div#outlineBox strong{
		font-weight: bold;
		font-size: 13px;
		margin-bottom: 8px;
		display: block;
		font-size: 14px;
	}

	div#outlineBox dl{
		width: 295px;
	}

	div#outlineBox dl dt,
	div#outlineBox dl dd{
		padding: 10px 0;
	}

	div#outlineBox dl dt{
		float:left;
		width:65px;
		clear:both;
		font-weight: bold;
	}

	div#outlineBox dl dd{
		width:200px;
		margin-left:65px;
		padding-left: 20px;
		color: #666;
	}

/* バナーエリア */
div#bannerContainer{
	display: flex;
}


div#bannerBox{
	float: right;
	/* width: 250px; */
}

div#bannerBox ul{}
div#bannerBox ul li{
	margin-bottom: 15px;
}	

div#tweetBox{
	/* float: left; */
	/* width: 250; */
}

/* 研究室訪問の申し込みフォームへのリンク */
div#contact-form{
	height: 100px;
	width: 960px;
	margin: auto;
	margin-top: 30px;
	/* background-color: blueviolet; */
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 62.5%;
}

.btn,
a.btn,
button.btn {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1.5;
  position: relative;
  display: inline-block;
  padding: 1rem 4rem;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  vertical-align: middle;
  text-decoration: none;
  letter-spacing: 0.1em;
  color: #212529;
  border-radius: 0.5rem;
  text-align: center;
	width: 60%;
	margin-left: 200px;
	margin-right: auto;
}

a.btn-c {
  font-size: 2.2rem;
  position: relative;
  padding: 0.25rem 2rem 1.5rem 3.5rem;

  color: #fff;
  background: #e94919;
  -webkit-box-shadow: 0 5px 0 #d44114;
  box-shadow: 0 5px 0 #d44114;
}

a.btn-c span {
  font-size: 1.5rem;

  position: absolute;
  top: -1.25rem;
  left: calc(50% - 150px);

  display: block;

  width: 300px;
  padding: 0.2rem 0;

  color: #d44114;
  border: 2px solid #d44114;
  border-radius: 100vh;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

a.btn-c span:before,
a.btn-c span:after {
  position: absolute;
  left: calc(50% - 10px);

  content: "";
}

a.btn-c span:before {
  bottom: -10px;

  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #d44114 transparent transparent transparent;
}

a.btn-c span:after {
  bottom: -7px;

  border-width: 10px 10px 0 10px;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}

a.btn-c i {
  margin-right: 1rem;
}

a.btn-c:hover {
  -webkit-transform: translate(0, 3px);
  transform: translate(0, 3px);

  color: #fff;
  background: #eb5b30;
  -webkit-box-shadow: 0 2px 0 #d44114;
  box-shadow: 0 2px 0 #d44114;
}
